* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 622px;
  margin: 0 auto;
}

.intro-chunk {
  padding: 24px;
  margin: 48px 0;
}
.intro-chunk .title {
  font-size: 3rem;
  margin-bottom: 48px;
}
.intro-chunk p {
  max-width: 342px;
}
.intro-chunk p strong {
  color: hsl(160deg, 100%, 30%);
}
main {
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
  padding: 48px 0;
}
.card {
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 8px 24px 24px;
}

.indented-heading {
  margin-top: 0;
  width: fit-content;
  margin-left: -32px;
  padding: 24px 32px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}
